.navbar {
  background-color: #7E57C2;
}
.navbar .nav-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding-bottom: 4px;
  transition: color 0.3s;
}

.navbar .nav-link:hover { color: #e7d5ea; }

.navbar .nav-link .underline {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: white;
}

.navbar .nav-link.active-link .underline {
  animation: underlineGrow 0.5s ease forwards;
}

.navbar .nav-link.active-link { color:white; }

@keyframes underlineGrow {
  from { width: 0; }
  to   { width: 100%; }
}
